MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>
MONGO_DBNAME=colmapp-notifications
RABBITMQ_URI=localhost:5672
RABBITMQ_NOTIFICATIONS_QUEUE=notifications_queue
SERVICE_NAME=notifications-service
SERVICE_SECRET=my_super_secret_key
# Whatsapp App config
WHATSAPP_PHONE_NUMBER_ID=123456789012345
WHATSAPP_ACCESS_TOKEN=EAABsbCS1iHgBAKZCZA...
WHATSAPP_API_URL=https://graph.facebook.com/v17.0
# Other environment variables can be added here as needed
RABBITMQ_AUTH_QUEUE=auth_queue