MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>
MONGO_DBNAME=colmapp-payment
RABBITMQ_URI=localhost:5672
RABBITMQ_PAYMENT_QUEUE=payment_queue
SERVICE_NAME=payment-service
# Other environment variables can be added here as needed
RABBITMQ_ORDERS_QUEUE=orders_queue