MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>
MONGO_DBNAME=colmapp-business
RABBITMQ_URI=localhost:5672
RABBITMQ_BUSINESS_QUEUE=business_queue
SERVICE_NAME=business-service
SERVICE_SECRET=my_super_secret_key
# Other environment variables can be added here as needed