RABBITMQ_URI=localhost:5672
RABBITMQ_PAYMENT_QUEUE=payment_queue
SERVICE_NAME=payment-service
# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
# Other environment variables can be added here as needed