MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>
MONGO_DBNAME=colmapp-customers
RABBITMQ_URI=localhost:5672
RABBITMQ_CUSTOMERS_QUEUE=customers_queue
SERVICE_NAME=customers-service
# Other environment variables can be added here as needed