JWT_SECRET=superSecret
RABBITMQ_URI=localhost:5672
RABBITMQ_AUTH_QUEUE=auth_queue
SERVICE_NAME=auth-service
SERVICE_SECRET=my_super_secret_key
# Other environment variables can be added here as needed
RABBITMQ_USERS_QUEUE=users_queue
RABBITMQ_BUSINESS_QUEUE=business_queue
REDIS_HOST=localhost
REDIS_PORT=6379