MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>
MONGO_DBNAME=colmapp-orders
JWT_SECRET=superSecret
RABBITMQ_URI=localhost:5672
RABBITMQ_ORDERS_QUEUE=orders_queue
SERVICE_NAME=orders-service
# Other environment variables can be added here as needed