MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>
MONGO_DBNAME=colmapp-providers
RABBITMQ_URI=localhost:5672
RABBITMQ_PROVIDERS_QUEUE=providers_queue
SERVICE_NAME=providers-service
SERVICE_SECRET=my_super_secret_key
# Other environment variables can be added here as needed