RABBITMQ_URI=localhost:5672
RABBITMQ_AUTH_QUEUE=auth_queue
RABBITMQ_PRODUCTS_QUEUE=products_queue
RABBITMQ_FILES_QUEUE=files_queue
RABBITMQ_PROVIDERS_QUEUE=providers_queue
RABBITMQ_ORDERS_QUEUE=orders_queue
RABBITMQ_PAYMENT_QUEUE=payment_queue
RABBITMQ_NOTIFICATIONS_QUEUE=notifications_queue
RABBITMQ_CUSTOMERS_QUEUE=customers_queue
PORT=3000
SERVICE_NAME=api-gateway
SERVICE_SECRET=my_super_secret_key
# Other environment variables can be added here as needed